.academics_heading {
    font-size: 40px;
    text-align: -webkit-center;
    justify-content: center;
    display: flow-root;
    margin-bottom: -10px;
    margin-top: 7rem;
    font-weight: bold;
    color: var(--primary) !important;
}
.academics_subheading {
    font-size: 20px;
    text-align: -webkit-center;
    justify-content: center;
    display: flow-root;
    /* margin-bottom: -10px; */
    margin-bottom: 1rem;
    margin-top: 70px;
    font-weight: bold;
    color: var(--primary) !important;
}
.academics_desc {
    padding: 0 2rem;
    margin-top: 1rem;
    font-size: 1rem;
}
.exchange {
    font-size: 2rem;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2rem;
}
.academic_grid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* .exchange_container ul {
    list-style-type: none;
} */
.exchange_container {
    margin-top: 1rem;
}
.exchange_container li {
    color: #999;
    font-size: 1rem;
    margin-bottom: 0.25rem;
}
.exchange_container li::marker {
    color: var(--primary);
}
/* .exchange_container li::before {
    content: "\2022";
    color: var(--primary);
    font-size: 1.2rem;
    display: inline-block;
    font-weight: bold;
    margin-right: 2em;
} */
@media (max-width: 1215px) {
    .exchange {
        margin-left: 1rem;
    }
}
