.achievements_heading {
    font-size: 40px;
    text-align: -webkit-center;
    justify-content: center;
    display: flow-root;
    margin-bottom: -10px;
    margin-top: 7rem;
    font-weight: bold;
    color: var(--primary) !important;
}
.achievements_subheading {
    font-size: 20px;
    text-align: -webkit-center;
    justify-content: center;
    display: flow-root;
    margin-bottom: -10px;
    margin-top: 70px;
    font-weight: bold;
    color: var(--primary) !important;
}
img {
    height: 50px;
}
.achievements-section {
    font-size: 2rem;
    max-width: 1600px;
    margin: 0 auto;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2rem;
    margin-top: 2rem;
}

.post {
    flex: 1 0 min(20rem, 100%);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: #fff;
    margin: 1rem;
    border-radius: 2px;
    font-size: 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 2px 4px 1px rgb(12 0 46 / 4%);
    border-radius: 0.6rem;
    transition: all 0.3s ease-in-out;
    padding: 1rem;
    gap: 8px;
    border: 2px solid rgb(12 0 46 / 4%);
}

.post:hover {
    box-shadow: 0 2px 4px 5px rgb(12 0 46 / 4%);
    transform: scale(1.02);
}

.post__image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.post__toolbar {
    position: relative;
}
.post__content--body {
    color: #999;
    font-size: 0.8rem;
    text-align: left;
}
@media (max-width: 448px) {
    .grid {
        padding: 0;
    }

    .post {
        margin: 0;
        flex-direction: column;
    }
}
