:root {
    --primary: #fad02c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

div {
    display: block;
}
ul {
    margin-top: 0rem;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    display: list-item;
}
/* Footer */
.footer_container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.pre-footer {
    display: flex;
    justify-content: space-around;
}
.pre-footer .list {
    list-style-type: none;
    width: calc(100% / 3);
    padding: 0 30px;
}
.pre-footer .list-head {
    border-bottom: 1px solid #dee236;
    padding-bottom: 6px;
}
.pre-footer .list-body {
    padding-top: 6px;
}
.pre-footer .list-body p {
    margin-bottom: 5px;
}
.text-center {
    text-align: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    gap: 1rem;
}
.list-body p {
    color: #444;
    font-size: 14px;
}
.col {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    gap: 0.6rem;
}
.col a {
    text-decoration: none;
    color: var(--primary);
}
@media (min-width: 1200px) {
    .footer_container {
        max-width: 1200px;
    }
}

@media (max-width: 992px) {
    .pre-footer .list {
        width: 80%;
    }
}
@media (max-width: 768px) {
    .pre-footer {
        display: block;
    }
    .pre-footer .list {
        margin: auto;
        margin-bottom: 45px;
    }
}
/* @media (min-width: 992px) {
    .footer_container {
        max-width: 960px;
    }
}
@media (min-width: 768px) {
    .footer_container {
        max-width: 720px;
    }
}
@media (min-width: 576px) {
    .footer_container {
        max-width: 540px;
    }
} */
