:root {
  --primary: #fad02c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

div {
  display: block;
}